<table class="table table-bordered">
    <thead>
        <tr>
            <th class="text-center" style="width:10%;">Marcado</th>
            <th>Todo</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var todo in Todos)
        {
            <Item Marcado="@todo.Marcado" Texto="@todo.TextoItem" />
        }
    </tbody>
</table>

@functions {
    [Parameter]
    public IList<BlazorApp.Data.Todo> Todos { get; set; }
}