@page "/"
@using BlazorApp.Data
@inject TodoService TodoService

<h1>Todo List</h1>

<Lista Todos="@todos" />

@functions {

    IList<Todo> todos;

    protected override async Task OnInitializedAsync()
    {
        todos = await TodoService.GetTodos();
    }

}