@page "/fetchdata"
@using Entrega4.Data
@inject ProdutoService ProdutoService
@using System.Net.Http.Json;
@inject HttpClient http

<h1>Produtos</h1>
@if (produtoList == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Nome</th>
                <th>Preço</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var produto in produtoList)
            {
                <tr>
                    <td>@produto.Nome</td>
                    <td>@produto.Preco</td>
                    <td><button class="btn btn-primary" onclick="" style="width:110px;">Editar</button>
                    </td>
                    <td><button class="btn btn-danger" onclick="">
                            Deletar</button></td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    List<Produto> produtoList;

    protected override async Task OnInitializedAsync()
    {

        var produto = await http.GetFromJsonAsync<List<Produto>>("/Produto/Lista");
        foreach (var item in produto)
        {
            produtoList.Add(item);
        }
    }

}
