@page "/fetchdata"

@using CRUD.Data
@inject ProdutoService ProdutoService

<h1>Weather forecast</h1>

<p>This component demonstrates fetching data from a service.</p>

@if (produtos == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Nome</th>
                <th>Preço</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var produto in produtos)
            {
                <tr>
                    <td>@produto.Nome</td>
                    <td>@produto.Preco</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private Produto[] produtos;

    protected override async Task OnInitializedAsync()
    {
        produtos = await ProdutoService.GetProdutoAsync(DateTime.Now);
    }
}
